In [1]:
import pandas as pd

In [46]:
fileus="US/Complete US DF.csv"
fileturkey="Turkey/Complete Turkey DF.csv"
filechina="China/Complete China DF.csv"
fileitaly="Italy/Complete Italy DF.csv"
filespain="Spain/Complete Spain DF.csv"
filefrance="France/Complete France DF.csv"
fileuk="United Kingdom/Complete UK DF.csv"
filegermany="Germany/Complete Germany DF.csv"
filerussia="Russia/Complete Russia DF.csv"
fileiran="Iran/Complete Iran DF.csv"
us=pd.read_csv(fileus)
turkey=pd.read_csv(fileturkey)
china=pd.read_csv(filechina)
italy=pd.read_csv(fileitaly)
spain=pd.read_csv(filespain)
france=pd.read_csv(filefrance)
uk=pd.read_csv(fileuk)
germany=pd.read_csv(filegermany)
russia=pd.read_csv(filerussia)
iran=pd.read_csv(fileiran)

In [47]:
dataframes=[us,turkey,china,italy,spain,france,uk,germany,russia,iran]
together=pd.concat(dataframes)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [48]:
together.head()

,Births per 1000 People,Deaths per 1000 People,Population,Country,Divorces,Marriages,Total Number of Births,Total Number of Deaths,Unnamed: 0,date
0,24.268,9.649,158804395,United States,385000.0,1667000.0,3.853865e+06,1.532304e+06,0,12/31/50
1,24.211,9.619,160872266,United States,381000.0,1595000.0,3.894878e+06,1.547430e+06,1,12/31/51
2,24.155,9.589,163266028,United States,392000.0,1539000.0,3.943691e+06,1.565558e+06,2,12/31/52
3,24.099,9.559,165910003,United States,390000.0,1546000.0,3.998265e+06,1.585934e+06,3,12/31/53
4,24.043,9.529,168736387,United States,379000.0,1490000.0,4.056929e+06,1.607889e+06,4,12/31/54

In [50]:
countriescombined=together.to_csv("countriescombined.csv")