In [3]:
import pandas as pd

In [4]:
fileb="turkeybirth.csv"
filep="turkeypop.csv"
filed="turkeydeath.csv"


birth=pd.read_csv(fileb)
pop=pd.read_csv(filep)
death=pd.read_csv(filed)

In [5]:
newbirth=birth.loc[0:69]
pbirth=birth.loc[70:]
newpop=pop.loc[0:69]
ppop=pop.loc[70:]
newdeath=death.loc[0:69]
pdeath=death.loc[70:]
newbirth=newbirth.drop(columns=[" Annual % Change"])
newdeath=newdeath.drop(columns=[" Annual % Change"])
newpop=newpop.drop(columns=[" Annual % Change"])
bp=pd.merge(newbirth,newpop,how='left',on="date")

bp.head()

bp["Total Number of Births"]=((bp[" Births per 1000 People"]*bp[" Population"])/1000)

bp.head()

bpd=pd.merge(bp,newdeath,how='left',on='date')

bpd.head()

bpd["Total Number of Deaths"]=((bpd[" Deaths per 1000 People"]*bpd[" Population"])/1000)
bpd.head()

,date,Births per 1000 People,Population,Total Number of Births,Deaths per 1000 People,Total Number of Deaths
0,12/31/50,50.736,21408399,1.086177e+06,25.497,545849.949303
1,12/31/51,50.270,21951215,1.103488e+06,25.034,549526.716310
2,12/31/52,49.803,22508953,1.121013e+06,24.570,553044.975210
3,12/31/53,49.336,23081587,1.138753e+06,24.106,556404.736222
4,12/31/54,48.869,23668922,1.156677e+06,23.642,559580.653924

In [7]:
complete_turkey_df=bpd.to_json("Complete Turkey DF")