In [1]:
import pandas as pd

In [9]:
fileb="iranbirth.csv"
filep="iranpop.csv"
filed="irandeath.csv"


birth=pd.read_csv(fileb)
pop=pd.read_csv(filep)
death=pd.read_csv(filed)

In [10]:
newbirth=birth.loc[0:69]
pbirth=birth.loc[70:]
newpop=pop.loc[0:69]
ppop=pop.loc[70:]
newdeath=death.loc[0:69]
pdeath=death.loc[70:]
newbirth=newbirth.drop(columns=[" Annual % Change"])
newdeath=newdeath.drop(columns=[" Annual % Change"])
newpop=newpop.drop(columns=[" Annual % Change"])
bp=pd.merge(newbirth,newpop,how='left',on="date")

bp.head()

bp["Total Number of Births"]=((bp[" Births per 1000 People"]*bp[" Population"])/1000)

bp.head()

bpd=pd.merge(bp,newdeath,how='left',on='date')

bpd.head()

bpd["Total Number of Deaths"]=((bpd[" Deaths per 1000 People"]*bpd[" Population"])/1000)
bpd.head()

,date,Births per 1000 People,Population,Total Number of Births,Deaths per 1000 People,Total Number of Deaths
0,12/31/50,51.723,17119265,885459.743595,28.710,491494.098150
1,12/31/51,51.382,17516679,900042.000378,28.071,491710.696209
2,12/31/52,51.040,17933502,915325.942080,27.433,491969.760366
3,12/31/53,50.698,18369051,931274.147598,26.795,492198.721545
4,12/31/54,50.356,18822757,947838.751492,26.157,492346.854849

In [11]:
complete_iran_df=bpd.to_json("Complete Iran DF")