In [1]:
import pandas as pd

In [2]:
fileb="italybirth.csv"
filep="italypop.csv"
filed="italydeath.csv"


birth=pd.read_csv(fileb)
pop=pd.read_csv(filep)
death=pd.read_csv(filed)

In [3]:
newbirth=birth.loc[0:69]
pbirth=birth.loc[70:]
newpop=pop.loc[0:69]
ppop=pop.loc[70:]
newdeath=death.loc[0:69]
pdeath=death.loc[70:]
newbirth=newbirth.drop(columns=[" Annual % Change"])
newdeath=newdeath.drop(columns=[" Annual % Change"])
newpop=newpop.drop(columns=[" Annual % Change"])
bp=pd.merge(newbirth,newpop,how='left',on="date")

bp.head()

bp["Total Number of Births"]=((bp[" Births per 1000 People"]*bp[" Population"])/1000)

bp.head()

bpd=pd.merge(bp,newdeath,how='left',on='date')

bpd.head()

bpd["Total Number of Deaths"]=((bpd[" Deaths per 1000 People"]*bpd[" Population"])/1000)
bpd.head()

,date,Births per 1000 People,Population,Total Number of Births,Deaths per 1000 People,Total Number of Deaths
0,12/31/50,18.607,46598601,867060.168807,10.003,466125.805803
1,12/31/51,18.477,47009982,868603.437414,9.969,468642.510558
2,12/31/52,18.346,47390568,869427.360528,9.935,470825.293080
3,12/31/53,18.215,47737391,869536.577065,9.901,472647.908291
4,12/31/54,18.084,48051033,868954.880772,9.867,474119.542611

In [4]:
complete_italy_df=bpd.to_json("Complete Italy DF")