In [1]:
import pandas as pd

In [2]:
fileb="germanybirth.csv"
filep="germanypop.csv"
filed="germanydeath.csv"


birth=pd.read_csv(fileb)
pop=pd.read_csv(filep)
death=pd.read_csv(filed)

In [3]:
newbirth=birth.loc[0:69]
pbirth=birth.loc[70:]
newpop=pop.loc[0:69]
ppop=pop.loc[70:]
newdeath=death.loc[0:69]
pdeath=death.loc[70:]
newbirth=newbirth.drop(columns=[" Annual % Change"])
newdeath=newdeath.drop(columns=[" Annual % Change"])
newpop=newpop.drop(columns=[" Annual % Change"])
bp=pd.merge(newbirth,newpop,how='left',on="date")

bp.head()

bp["Total Number of Births"]=((bp[" Births per 1000 People"]*bp[" Population"])/1000)

bp.head()

bpd=pd.merge(bp,newdeath,how='left',on='date')

bpd.head()

bpd["Total Number of Deaths"]=((bpd[" Deaths per 1000 People"]*bpd[" Population"])/1000)
bpd.head()

,date,Births per 1000 People,Population,Total Number of Births,Deaths per 1000 People,Total Number of Deaths
0,12/31/50,15.130,69966243,1.058589e+06,10.876,760952.858868
1,12/31/51,15.314,70300010,1.076574e+06,10.957,770277.209570
2,12/31/52,15.497,70620277,1.094402e+06,11.039,779577.237803
3,12/31/53,15.681,70929844,1.112251e+06,11.121,788810.795124
4,12/31/54,15.865,71233392,1.130118e+06,11.203,798027.690576

In [4]:
complete_germany_df=bpd.to_json("Complete Germany DF")